<div class="">
    <div class="card">
        <img class="card-img-top img-fluid" src="{{location.imageUrl}}" alt="...">
        <div class="card-body">
            <vote [location]="location"></vote>
            <h4 class="card-title">{{location.name}}</h4>
             <p class="card-text">Basic summary of place...</p>
            <ul class="list-group list-group-flush">
    <li class="list-group-item"><label>Rooms:</label> <span class="pull-right">{{location.nights}}</span></li>
    <li class="list-group-item"><label>Price:</label><span class="pull-right">{{location.price | currency:'GBP':true}}</span></li>
  </ul>
           <div class="card-footer">
            <p><a href="#" class="btn btn-primary" role="button">Edit</a> 
            <a href="#" class="btn btn-danger float-right" role="button">Delete</a></p>
           </div>
        </div>
    </div>
</div>
