<div *ngIf="!!user.displayName">Hi {{user.displayName}}</div>
<button *ngIf="!user.displayName" type="button" class="btn btn-default navbar-btn" (click)="login()">Login</button>

<button *ngIf="!user.displayName" type="button" class="btn btn-default navbar-btn" (click)="register()">Register</button>
<button *ngIf="!!user.displayName" type="button" class="btn btn-default navbar-btn" (click)="logout()">Logout</button>


<button *ngIf="!!user.displayName" class="btn btn-default navbar-btn" type="button">My Lists</button>
<button *ngIf="!!user.displayName" class="btn btn-default navbar-btn" type="button">Create List</button>